* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
    height: 100px;
}

.nav {
    display: flex;
    align-items: center;
}

.image {
    width: 60px;
    margin-right: 20px;
}

.title {
    font-size: 60px;
    color: #61DAFB;
    font-size: 1.4rem;
    font-family: Inter;
}