.header {
    display: flex;
    align-items: center;
    background-color: #21222A;
    gap: 20px;
    padding: 30px 25px;
    height: 100px;
    justify-content: center;
    box-shadow: 0 8px 4px rgba(58, 56, 56, 0.1);
}

.image {
    width: 60px;
}

.title {
    color: #61DAFB;
    font-size: 1.4rem;
    font-family: Inter;
}